ul{
    background: gray;
    list-style-type: none;
    overflow: hidden;
}

li{
    float: left;
}

li a, .flutubutao{
    display: inline-block;
    padding: 14px 16px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

li a:hover, .flutuacao-conteudo:hover .flutubutao{
    background: orange;
    color: white;
}